@keyframes beat {
    0% {
        transform: scale(1);
    }
    
    25% {
        transform: scale(1.1);
    }
    
    50% {
        transform: scale(1);
    }
    
    75% {
        transform: scale(1.1);
    }
    
    100% {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    
    80% {
        transform: scale(1.15);
    }
    
    100% {
        transform: scale(1);
         opacity: 1;
    }
}

.btn:hover {
    cursor: pointer;
    animation: beat .5s ease-in;
}

.show-text {
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.fade-in,
.spin-in {
    opacity: 0;
    transition: all .4s ease-in;
}

.fade-in:hover,
.spin-in:hover {
    opacity: 1;
    
    p {
        display: block;
    }
}

.fade-in:hover {
    background: rgba(0, 0, 0, 0.5);
}

.spin-in:hover {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
}


.flip {
    &-right,
    &-down {
         transition: transform .7s;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    
    &-right {
        .flip__back {
            -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
        }
    }
    
    &-right:hover {
        -webkit-transform: rotate3d(0, 1, 0, 180deg);
        transform: rotate3d(0, 1, 0, 180deg);
    }
        
    &-down {
        .flip__back {
            -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
        }
    }
    
    &-down:hover {
        -webkit-transform: rotate3d(1, 0, 0, 180deg);
        transform: rotate3d(1, 0, 0, 180deg);
    }
}

.slide {
    &-in,
    &-down {
        transition: all .5s ease-in;
        visibility: hidden;
        background-color: #3D496D;
    }
    
    &-in {
         -webkit-transform: translateX(-100%);
         transform: translateX(-100%); 
    }
    
    &-down {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

.slide-container:hover {
    .slide-in {
        visibility: visible;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        transform: translateZ(0);    
        p {
            display: block;
        }
    }
    
    .slide-down {
        visibility: visible;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        transform: translateZ(0);
        opacity: 1;
    
        p {
            display: block;
        }
    }
}
